@media screen and (max-width:600px) {
    header {
        height: 11rem;
        text-align: center;
        font-size: 1.5rem;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em red;
        background-image: url('../OmatKuvat/turn-1336786__480.jpg');
        opacity: 0.8;
        background-size: 100%;
        background-repeat: no-repeat;
        font-family: 'Merienda', cursive;
        color: ghostwhite;
        margin: 0;
        padding: 0;
    }

    .img-fluid {
        width: 100%;
        max-width: 150px;
        height: auto;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        float: left;
    }
}

@media screen and (min-width:601px) {
    header {
        height: 16rem;
        text-align: center;
        font-size: 2.25rem;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em red;
        background-image: url('../OmatKuvat/turn-1336786__480.jpg');
        opacity: 0.8;
        background-size: 100%;
        background-repeat: no-repeat;
        font-family: 'Merienda', cursive;
        color: ghostwhite;
        margin: 0;
        padding: 0;
    }

    .img-fluid {
        width: 100%;
        max-width: 220px;
        height: auto;
        padding-top: 1.1rem;
        padding-left: 1.1rem;
        float: left;
    }
}

@media screen and (min-width:900px) {
    header {
        height: 20rem;
        text-align: center;
        font-size: 3rem;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em red;
        background-image: url('../OmatKuvat/turn-1336786__480.jpg');
        opacity: 0.8;
        background-size: 100%;
        background-repeat: no-repeat;
        font-family: 'Merienda', cursive;
        color: ghostwhite;
        margin: 0;
        padding: 0;
    }

    .img-fluid {
        width: 100%;
        max-width: 300px;
        height: auto;
        padding-top: 1.7rem;
        padding-left: 1.7rem;
        float: left;
    }
}

#wrapper {
    margin-top: 2rem;
}

footer {
    text-align: center;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    border: groove 1px black;
    padding-top: 0;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

    .flex-container > div {
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }

figure {
    display: block;
}

.textWrapLeft {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

.textWrapRight {
    float: right;
    margin-top: 20px;
    margin-left: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 102px;
    }

p {
    padding-left: 1.25rem !important;
}

#lista {
    padding-left: 2.5rem;
}

#kehystetty {
    border: solid;
    border-color: black;
    border-radius: 1rem;
    background-color: darkred;
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
    font-size: large;
    color: white;
    padding: 10px 10px 10px 10px;
}
