@{
    ViewBag.Title = "Etusivu";
}

@section head{

    <link href="~/OmatMuotoilut/Etusivu.css" rel="stylesheet" />
}

<!-- Etusivu -->

<div id="wrapper">

    <div>
        <h1>Usui Reiki Ryoho ry</h1>

        <p style="padding-top: 20px;">Usui Reiki Ryoho ry on perustettu vuonna 2008.</p>
        <p>
            Se on ainoa suomalainen reikiyhdistys, jonka opettajat opettavat kaikkia
            Mikao Usuin käyttämiä alkuperäisiä reikimetodeja.
        </p>
        <p>
            Traditionaalisen japanilaisen reikin alkuperäiset taidot, hoitotekniikat ja henkisyys ovat tärkeä osa
            reikin kokonaisuutta.
        </p>
        <p style="padding-bottom:20px;">
            Toivomme antoisia tutustumishetkiä Sinulle,
            joka haluat lisätä ymmärrystäsi reikistä ja sen alkulähteestä.
        </p>
    </div>
    <div class="flex-container">
        <figure>
            <img src="~/OmatKuvat/Mikao-Usui.jpg" alt="Mikao Usui" style="max-width:100% ">
            <figcaption>Perinne - Mikao Usui</figcaption>
        </figure>
        <figure>
            <img src="~/OmatKuvat/etu-kadet2.jpg" alt="Hoitaminen" style="max-width:100%">
            <figcaption>Hoitaminen</figcaption>
        </figure>
        <figure>
            <img src="~/OmatKuvat/etu-meditaatio2.jpg" alt="Meditaatio" style="max-width:100%">
            <figcaption>Meditaatio</figcaption>
        </figure>
    </div> <!-- flex-container -->
</div> <!--wrapper-->
