@{
    ViewBag.Title = "Etusivu";
}

@section head{

    <link href="~/OmatMuotoilut/Etusivu.css" rel="stylesheet" />
}

<!-- Etusivu -->

    <div id="wrapper">

        <div>
            <h1>Usui Reiki Ryoho ry</h1>

            <p style="padding-top: 20px;">Usui Reiki Ryoho ry on perustettu vuonna 2008.</p>
            <p>
                Se on ainoa suomalainen reikiyhdistys, jonka opettajat opettavat kaikkia
                Mikao Usuin käyttämiä alkuperäisiä reikimetodeja.
            </p>
            <p>
                Traditionaalisen japanilaisen reikin alkuperäiset taidot, hoitotekniikat ja henkisyys ovat tärkeä osa
                reikin kokonaisuutta.
            </p>
            <p style="padding-bottom:20px;">
                Toivomme antoisia tutustumishetkiä Sinulle,
                joka haluat lisätä ymmärrystäsi reikistä ja sen alkulähteestä.
            </p>
        </div>
        <div class="flex-container">
            <figure>
                <img src="~/OmatKuvat/Mikao-Usui.jpg" alt="Mikao Usui" style="max-width:100% ">
                <figcaption>Perinne - Mikao Usui</figcaption>
            </figure>
            <figure>
                <img src="~/OmatKuvat/etu-kadet2.jpg" alt="Hoitaminen" style="max-width:100%">
                <figcaption>Hoitaminen</figcaption>
            </figure>
            <figure>
                <img src="~/OmatKuvat/etu-meditaatio2.jpg" alt="Meditaatio" style="max-width:100%">
                <figcaption>Meditaatio</figcaption>
            </figure>
        </div>

        </div> <!--wrapper-->
        <!-- Jätän nämä sarakkeet tänne mahdollista myöhempää käyttöä varten, voidaan poistaa, jos ei tarvita
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>   -->
