@{
    ViewBag.Title = "Hautamuistomerkki";
}



<div class="container" id="wrapper">

    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index">Etusivu</a></li>
                <li class="breadcrumb-item">Reiki</li>
                <li class="breadcrumb-item"><a href="~/Reiki/Historia">Historia</a></li>
                <li class="breadcrumb-item active" aria-current="page">Hautamuistomerkki</li>
            </ol>
        </nav>
    </div>

    <h1 id="alku">Sensei Mikao Usuin muistokirjoitus</h1>

    <figure class="textWrapLeft" style="padding-left:20px;">
        <img src="~/OmatKuvat/Muistomerkki.jpg" style="max-width:100%" />
        <figcaption>Sensei Mikao Usuin muistokirjoitus</figcaption>
    </figure>

    <section style="margin-top:40px;">
        <h4>Käännös Sensei Usuin muistomerkiltä Jodo shu Saihojin temppelissä hautausmaalta Tokiossa</h4>
    </section>

    <section>
        <p>Muistomerkin yläosassa lukee</p>

        <p>
            <cite>
                REIHO CHOSO USUI SENSEI KUDOKU NO HI <br />
                eli Sensei Usuin hyvyyden muistomerkki
            </cite>
        </p>
    </section>

    <section>
        <p>Loppuosa tekstistä kuuluu näin:</p>
        <p>
            Sitä, joka opiskelee kurinalaisesti (eli mietiskelee säännöllisesti) ja työskentelee väsymättä kehittääkseen kehoaan
            ja mieltään tullakseen paremmaksi ihmiseksi, kutsutaan ”henkiseksi ihmiseksi”.
            Niitä, jotka käyttävät tätä henkisyyttä opettaakseen muille ihmisille oikeaa elämäntapaa tehdäkseen hyvää
            koko yhteisölle, kutsutaan nimellä Sensei. Sensei Usui oli tällainen opettaja.
            Hän opetti universaalista Reikiä, universaalista energiaa. Lukemattomat ihmiset pyysivät Sensei Usuita
            opettamaan heille Reikiä ja parantamaan heitä.
        </p>
        <p>
            Sensei Usuin etunimi oli Mikao ja hänen toinen nimensä lausuttiin Gioho tai Kioho. Hän syntyi Yagon kylässä Yamagatan
            alueella Gifun prefektuurissa. Hänen esi-isänsä on Tsunetane Chiba. Hänen isänsä nimi oli Uzaemon.
            Hänen äitinsä nimi oli Kaweai.
        </p>
        <p>
            Sensei Usui syntyi 15. elokuuta 1865 Keio-kauden ensimmäisenä vuonna, aikana jota kutsutaan nimellä Keio Gunnen.
            Sensei Usuita on kuvattu lahjakas ja ahkera opiskelija. Aikuisena hän matkusti useisiin länsimaihin
            sekä Kiinaan opiskelemaan. Hän työskenteli uutterasti mutta aika ajoin kärsi epäonnesta ja puutteesta.
            Sensei Usui ei kuitenkaan antanut periksi vaan jatkoi kurinalaisesti itsensä kehittämistä.
        </p>
        <p>
            Eräänä päivänä hän meni Kurama-vuorelle 21 päiväksi paastoamaan ja mietiskelemään.
            Jakson viimeisenä päivänä hän äkkiä tunsi mahtavan Reiki-energian päänsä yläpuolella.
            Hän koki valaistuksen ja ymmärsi saaneensa yhteyden voimakkaaseen Reiki-energiaan.
            Sensei Usui käytti Reikiä ensin itsensä hoitamiseen ja sitten perheensä hoitamiseen.
            Koska Reiki tehosi hyvin erilaisiin vaivoihin, hän päätti antaa saamansa tiedon myös muiden käyttöön.
            Sensei Usui avasi keskuksen Reikin opettamista varten Aoyaman Harajukuun Tokiossa 11. huhtikuuta 1922,
            aisho-kauden 11. vuonna.
        </p>
        <p>
            Sensei Usui hoiti lukemattomia ihmisiä, joista jotkut olivat tulleet kaukaa hänen luokseen.
            Sen lisäksi hän järjesti kursseja opettaakseen Reikiä ja levittääkseen Reiki-tietoutta.
        </p>
        <p>
            Syyskuussa Taisho-kauden 12. vuonna voimakas maanjäristys järisytti Tokiota. Tuhansia kuoli ja loukkaantui
            tai sairastui järistyksen jälkimainingeissa. Sensei Usui suri ihmisten puolesta mutta hän myös käytti
            Reikiä hoitaakseen maanjäristyksestä kärsineitä ja pelastaen ihmishenkiä. Kun Sensei Usuin perustama keskus
            ei enää pystynyt hoitamaan kaikkia hoitoa halunneita, hän perusti uuden keskuksen Nakanoon Tokion ulkopuolelle
            helmikuussa 1925 eli Taisho-kauden 14. vuonna.
        </p>
        <p>
            Sensei Usuin maine levisi nopeasti koko Japaniin ja häntä kutsuttiin vierailuille eri paikkakunnille.
            Hän kävi Kuressa, Hiroshiman prefektuurissa, sitten Sagan prefektuurissa ja Fukuyamassa.
            Ollessaan käymässä Fukuyamassa Sensei Usui yllättäen sairastui ja kuoli 62-vuotiaana maaliskuun 9. päivänä 1926,
            Taisho-kauden 15. vuonna.
        </p>
        <p>
            Sensei Usuin vaimo oli nimeltään Sadako, tyttönimeltään Suzuki. Heillä oli poika ja tytär.
            Poika, Fuji Usui, otti hoitaakseen perheen yrityksen Sensei Usuin kuoleman jälkeen.
        </p>
        <p>
            Sensei Usui oli lämminsydäminen, lempeä ja vaatimaton ihminen. Hän oli kookas ja fyysisesti terve.
            Hän ei koskaan käyttäytynyt ylimielisesti ja hänen kasvoillaan oli aina hymy. Hän oli rohkea ja kärsivällinen
            vastoinkäymisten kohdatessa, mutta myös harkitsevainen. Hän oli monella tavoin lahjakas. H
            än piti lukemisesta ja hänen tietonsa lääketieteestä, psykologiasta, tulevaisuuden ennustamisesta
            ja teologiasta sekä maailman uskonnoista olivat vaikuttavat. Hänen elämänikäinen tapansa opiskella
            ja kerätä tietoa epäilemättä edesauttoivat häntä Reikin löytämisessä ja ymmärtämisessä.
        </p>
        <p>
            Sen lisäksi, että Reiki parantaa sairauksia, se myös vahvistaa ihmisen luontaista kykyä parantua,
            tasapainottaa henkisesti, pitää kehon terveenä ja auttaa näin löytämään onnellisuuden olotilan.
        </p>
        <p>
            Kun opetat Reikiä muille, muista Keisari Meijin viisi periaatetta. Näitä periaatteita tulee mietiskellä/lausua
            ääneen päivittäin, joka aamu ja joka ilta.
        </p>

        <div style="padding-left:40px;">
            <p>Yksi: Älä ole tänään vihainen.</p>
            <p>Kaksi: Älä ole tänään huolissasi.</p>
            <p>Kolme: Ole tänään kiitollinen.</p>
            <p>Neljä: Tee tänään ahkerasti työtä. (meditointi)</p>
            <p>Viisi: Ole tänään muille ystävällinen.</p>
        </div>

        <p>
            Perimmäinen tavoite on ymmärtää Reikin eli ikiaikainen salainen keino onnellisuuden löytämiseksi,
            ja sitä kautta löytää parannuskeino vaivoihin ja sairauksiin. Näitä periaatteita noudattamalla löydät
            muinaisten oppineiden suurenmoisen mielenrauhan ja seesteisyyden. Kun alat levittämään Reikiä,
            on tärkeää aloittaa läheltä eli itsestäsi sen sijaan, että aloittaisit kauempaa kuten esimerkiksi filosofiasta
            tai logiikasta.
        </p>
        <p>
            Istu joka aamu ja ilta jonkin aikaa hiljaa paikallasi kädet ristissä tai Namaste-tervehdyksessä.
            Toista viisi periaatetta ja noudata niitä, ole puhdas ja hiljainen mieleltäsi.
            Tutki sydäntäsi ja toimi sisälläsi olevasta hiljaisuudesta käsin. Kuka tahansa voi oppia Reikin,
            koska se alkaa jokaisesta itsestään.
        </p>
        <p>
            Filosofiset ajattelumallit ovat muuttamassa maailmaa. Reikin levittäminen joka puolelle vaikuttaa ihmisten sydämiin
            ja yhteisöjen moraaliin. Reiki tulee auttamaan useita ihmisiä, ei vain parantamalla sairauksia vaan itse maailmaa.
            Yli 2000 ihmistä oppi Reikin Sensei Usuilta. Vielä suurempi määrä ihmisiä oppi Reikin hänen seuraajiltaan,
            jotka jatkoivat Reikin opettamista. Nyt Sensei Usuin kuoleman jälkeen Reiki jatkaa leviämistään eri puolille maailmaa.
            On universaali siunaus saada oppia Reikiä Sensei Usuilta ja saada levittää sitä eteenpäin uusille käyttäjille.
            Monet Sensei Usuin oppilaista halusivat rakentaa tämän muistomerkin tänne Saihojin temppeliin Toyotoman alueelle.
            Minua pyydettiin kirjoittamaan nämä sanat, jotta muistaisimme Sensei Usuin arvokkaan työn.
            Kunnioitan syvästi Sensei Usuin työtä ja haluan sanoa kaikille hänen seuraajilleen, että olen kiitollinen
            tultuani valituksi tähän tehtävään. Saakoon monet mahdollisuuden oppia ymmärtämään, miten suuren palveluksen
            Sensei Usui teki maailmalle.
        </p>
    </section>

    <section>
        <h4>GOKAI eli Sensei Usuin viisi periaatetta</h4>

        <p>
            Niiden avulla voi saavuttaa onnen ja parantaa sairauksia.
        </p>
        

        <div id="kehystetty">
            <p style="font-size:medium;">
                Liitä kämmenet yhteen, keskitä ajatuksesi sydämeesi.
                <br />Toista viisi periaatetta aamuisin ja iltaisin.
                <br /> Näin kehität mieltäsi ja kehoasi.
                <br /><br />Tänään
            </p>
            <p style="font-style:italic">Älä ole vihainen</p>
            <p style="font-style:italic">Älä huolehdi</p>
            <p style="font-style:italic">Ole kiitollinen</p>
            <p style="font-style:italic">Tee työsi</p>
            <p><em>Ole ystävällinen muita ihmisiä kohtaan</em></p>
        </div>
       
</section>
    <section style="margin-top:2rem;">
        <p><strong>Usui Reiki-terapia (Usui Reiki Therapy)</strong></p>
        <p>perustaja Mikao Usui</p>
    </section>

    <section>
        <a class="btn btn-outline-primary" href="#alku">Takaisin sivun alkuun</a>
    </section>
</div>

