
@{
    ViewBag.Title = "Historia";
}

<div id="wrapper">




    <h1 id="alku">Reikin historiaa</h1>

    <div id="SivuNavi">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#synty">Reikin synty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#opetus">Opetustyö alkaa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tunnettu">Reikistä ja Usuista tulee Japanissa tunnettuja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#länsimainen">Länsimainen reiki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#reikiSuomeen">Reiki Suomeen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#alkulähteille">Takaisin alkulähteille</a>
            </li>

        </ul>
    </div>
    <section>
        <h3 id="synty">Reikin synty</h3>
        <p>
            Reikin löysi ja sitä opetti ensimmäisenä japanilainen mies nimeltä Mikao Usui.
            Hän syntyi Taniai Muran kylässä Gifun läänissä vuonna 1865.
            Syntyperänsä ansiosta Mikao Usuilla oli mahdollisuus saada sellaista koulutusta ja opetusta,
            mitä kaikille ei siihen aikaan ollut Japanissa tarjolla.
            Sukunsa asemasta johtuen Mikao Usui sai opetusta buddhalaisessa Tendai-luostarikoulussa.
            Hän opiskeli myös vanhoja samuraiden taistelutaitoja sekä aseettomia taistelutaitoja.
        </p>

        <p>
            Mikao Usui eli koko elämänsä henkistä totuuden etsijän elämää, mutta myös elämää, jota me sanoisimme tavalliseksi.
            Mikao Usui meni naimisiin ja vuonna 1908 hän sai vaimonsa Sadako kanssa ensimmäisen lapsensa Fujin.
            Toinen lapsi Toshiko syntyi vuonna 1913.
        </p>
        <p>
            Vuonna 1918 Mikao Usui aloitti muiden toimiensa ohella kolme vuotta kestävän meditaation (mezo) harjoittelun.
            Maaliskuussa 1922 Mikao Usui aloitti vaativan 21 päivää kestävän meditaatio- ja henkisen puhdistaumisjakson
            Kioton läheisyydessä sijaitsevalla Kuraman vuorella.
            Tämän jakson seurauksena hänen kerrotaan saavuttaneen valaistumisen.
            Mikao Usui oivalsi jotain syvää paranemisesta, elämästä ja sen voimasta.
            Siten syntyi reikiksi kutsuttu hoitomuoto, sekä taito siirtää energian kanavointikykyä energeettisesti eteenpäin.
            Reiki oli sensei (jap. opettaja) Mikao Usuin oma persoonallinen tyyli, jossa kohtaavat kaikki Usuin aiemmin
            opiskelemat taidot.
        </p>
        <p><a href="#alku">Takaisin sivun alkuun</a></p>
    </section>

    <section>
        <h3 id="opetus">Opetustyö alkaa</h3>

        <p>
            Keväällä 1922 Mikao Usui aloitti opetustyön.
            Alkuvaiheessa opettaessaan hän myös haki nimeä tälle uudelle menetelmälle,
            ja hän kutsui sitä muun muassa nimillä <em><abbr title="Usuin kädet päällä-metodi">Usui teate</abbr></em>
            ja <em><abbr title="Usuin henkinen tie">Usui do</abbr></em>.
            Lopulta menetelmän nimeksi vakiintui nimi <strong><abbr title="Elämän energia / Elämän voima">reiki</abbr></strong>.
        </p>
        <p>
            Hieman myöhemmin muotoutui Usui Reiki Ryoho Gakkai –yhteisö viemään eteenpäin tätä Usuin kehittämää
            hoito- ja itsensäkehittämisen menetelmää. Vuonna 1922 Sensei Usui avasi myös ensimmäisen reikikoulun Tokiossa.
            Koulun pääajatuksena oli harmonian ja tasapainon saavuttaminen.
            Usuin opettama reiki sisälsi useita eri menetelmiä, joilla auttaa ihmistä:
        </p>

        <figure class="textWrapRight">
            <img src="~/OmatKuvat/usuin_ryhma.jpg" style="max-width:80%" />
            <figcaption>Usuin oppilaina oli sekä miehiä että naisia.</figcaption>
        </figure>

        <div>
            <ul>
                <li>henkisiä harjoituksia</li>
                <li>meditaatiota</li>
                <li>energiaharjoituksia</li>
                <li>monenlaisia eri hoitotekniikoita sekä itsehoitoon että muiden hoitamiseen.</li>
            </ul>
        </div>



        <p>
            Koulutuksessa Usui laittoi suuren arvon oppilaiden omalle työskentelylle ja sisäiselle kehitykselle.
            Vasta kun yksi taso oli täysin sisäistetty, oppilaalla oli mahdollisuus siirtyä seuraavalle tasolle.
            Mikao Usui aloitti tietojensa siirtämisen oppilailleen kolmessa eri vaiheessa:
        </p>


        <div>
            <ol>
                <li>ykköstaso eli shoden</li>
                <li>kakkostaso eli okuden</li>
                <li>opettajataso eli shinbiden</li>
            </ol>
        </div>


        <p><a href="#alku">Takaisin sivun alkuun</a></p>

    </section>

    <section>
        <h3 id="tunnettu">Reikistä ja Usuista tulee Japanissa tunnettuja</h3>

        <figure class="textWrapLeft">
            <img src="~/OmatKuvat/maanjaristys.jpg" style="max-width:100%" />
            <figcaption>Tokio maanjäristyksen jälkeen v.1923</figcaption>
        </figure>

        <p>
            Vuonna 1923 Tokiossa oli voimakas maanjäristys, jossa kuoli valtavasti ihmisiä, ja satojatuhansia jäi kodittomiksi.
            Mikao Usui saavutti suurta mainetta maanjäristyksen jälkihoidon aikana auttamalla maanjäristyksen uhreja.
            Sanottiin, että hän ja apulaispormestari Koto Shinbei tekivät yhdessä ihmeitä organisoimalla auttamista ja
            hoitamalla maanjäristyksessä loukkaantuneita. Tämän jälkeen Usuista tuli tunnettu ja kunnioitettu henkilö Japanissa.
        </p>



        <p>
            Näiden tapahtumien seurauksena Mikao Usui liitti omalla esimerkillään hyväntekeväisyyden, eli apua tarvitsevien auttamisen,
            tärkeänä osana reikiin. Mikao Usuin perinne jatkuu Japanissa edelleen: esimerkiksi Koben suuressa maanjäristyksessä 1995
            reikin harjoittajat olivat paikalla auttamassa maanjäristyksessä kärsineitä.
        </p>
        <p>
            Mikao Usui menehtyi 9.3.1926 sairauskohtaukseen ollessaan opetusmatkalla.
            Hänen oppilaansa jatkoivat häneltä oppimiensa perinteiden mukaista reikin opetusta sekä reikin vanhojen traditioiden vaalimista.
            Usui Reiki Ryoho Gakkai -yhteisö jatkaa edelleen toimintaansa Japanissa.
            Yhdistyksen puheenjohtajana toimii tällä hetkellä Masaharu Kondo.
            Mikao Usui ehti opettaa reikiä yli kahdelle tuhannelle ihmiselle ja hän teki voimakkaan vaikutuksen aikalaisiinsa.
        </p>
        <p>
            Mikao Usuin hauta sijaitsee Tokion suginamissa.
            Lue millaisen muistokirjoituksen Usui Reiki Ryoho Gakkain ensimmäinen puheenjohtaja kirjoitti Usuin muistomerkkiin,
            joka sijaitsee Usuin haudan vieressä. Linkki muistokirjoitukseen

        </p>
        <p><a href="#alku">Takaisin sivun alkuun</a></p>
    </section>


    <section>
        <h3 id="länsimainen">Länsimainen reiki</h3>

        <p>
            Reikin opettaja-asteen saavutti Mikao Usuin opetuksessa yli kaksikymmentä ihmistä.
            Yksi heistä oli laivaston upseeri Chujiro Hayashi (1879 – 1940).
            Hayashilla oli itsellään myöhemmin 13 opettajaoppilasta joista yksi oli Hawayo Takata (1900 – 1980).
            Takata sai Hayashilta opettajan oikeudet 1938. Hawayo Takata oli ensimmäinen, joka levitti reikin oppia länsimaihin.
        </p>

        <p>
            Hawayo Takata opetti reikin opettaja-asteen 22 henkilölle 1970-luvun kuluessa.
            Länsimaihin reiki saapui Takatan tuomana ja sisältäen ainoastaan muutamia osia Usuin reikin alkuperäisistä henkisistä harjoituksista
            ja hoitotekniikoista. Takatan kuoleman jälkeen syntyi länsimaiseen reikiin henkinen ja opillinen tyhjiö.
            Lisäksi alkoi reikiin kehittyä kolmenlaisia näkemyksiä:
        </p>

        <div>
            <ol>
                <li>Yksi uusi ilmiö oli, että jotkut länsimaiset muuttivat reikiä omien näkemystensä mukaiseksi opetukseltaan ja hoitotavoiltaan.</li>
                <li>
                    Toinen osa oppilaista piti Takatan opetusta ainoana ja oikeana alkuperäisenä reikin opetuksena.
                    Monissa paikoin länsimaissa opetetussa reikissä on edelleenkin vallalla näkemys, että reiki sisältää vain Takatan opettamat pari-kolme hoitotapaa,
                    eli itsehoidon, peruskontakti hoidon ja elämänvoiman lähettämistekniikan.
                </li>
                <li>
                    Kolmas kanta, joka on vahvasti yleistymässä kaikkialla länsimaissa on se, että reikin alkuperäistä tietoa
                    ja oppia haetaan alkulähteeltä eli Japanista
                </li>
            </ol>
        </div>
        <p><a href="#alku">Takaisin sivun alkuun</a></p>
    </section>

    <section>
        <h3 id="reikiSuomeen">Reiki Suomeen</h3>

        <p>
            Yksi Takatan opettajaoppilaista oli ruotsalaissyntyinen Wanja Twan. Hänen tuomanaan reiki alkoi juurtua Suomeen vuonna 1985.
            Syksyllä 1986 ensimmäiset suomalaiset reikiopettajat saavuttivat opettajan pätevyyden.
            Reikin todellinen alkuvuosien pioneeri ja voimahahmo Suomessa oli Aila Norlamo (1922 - 2000),
            jota suomalainen reiki saa paljolti kiittää reikin nykyisestä levinneisyydestä maassamme.
            Tällä hetkellä maassamme on kymmeniätuhansia reikin harjoittajia.
        </p>
        <p><a href="#alku">Takaisin sivun alkuun</a></p>
    </section>

    <section>
        <h3 id="alkulähteille">Takaisin alkulähteille</h3>

        <p>
            Traditionaalinen japanilainen reiki on länsimaista huomattavasti intuitiivisempaa sekä koulutukseltaan vaativampaa.
            Lisäksi se korostaa huomattavan laaja-alaista osaamista mm. hoitotapahtumassa ja itsehoidossa.
            Traditionaalinen japanilainen reiki sisältää paljon laajemman valikoiman keinoja auttaa apua tarvitsevia
            kuin niin sanottu länsimainen reiki. Traditionaalinen japanilainen reiki sisältää myös paljon henkisiä harjoituksia,
            joita lännessä on alettu laajemmin tuntea ja arvostaa vasta viime vuosina.
        </p>

        <p>
            Usui Reiki Ryoho ry on suomalainen reikiyhteisö, joka toiminnallaan sekä opetuksellaan tuo Suomessa esiin Japanista
            tuotuja alkuperäisen Usuin reikin kaikkia eri keinoja itsehoitoa, muiden hoitoa ja henkistä harjoittelua varten.
        </p>
        <p><a href="#alku">Takaisin sivun alkuun</a></p>
    </section>
</div>

