@{
    ViewBag.Title = "Index"; 
}

<!-- Reiki - yleistä -->
<div id="wrapper">

    <div>
        <h1>Reiki</h1>

        <p>
            Reiki on japanilaisen Mikao Usuin (1865 - 1926) kehittämä hoitomuoto ja henkisen kehityksen tie,
            joka on siirrettävissä ihmiseltä toiselle. Sen perusteiden oppiminen on helppoa ja käyttö yksinkertaista.
            Reikihoidossa hoitaja toimii energiakanavana niin, ettei hän luovuta omaa energiaansa,
            vaan hän välittää sitä itsensä ulkopuolelta hoidettavalleen tai itsehoidossa itselleen.
        </p>

        <p>
            Hoitojen lisäksi reiki on myös suurempi kokonaisuus, elämäntapa, joka pitää sisällään monta eri osa-aluetta:
            <div>
                <ul>
                    <li>henkisen harjoittelun</li>
                    <li>hoitotekniikat</li>
                    <li>auttamisen ja</li>
                    <li>perinteen säilyttämisen</li>
                </ul>
            </div>
        </p>
        <p>
            Yhdessä nämä muodostavat reikin tien (do), jota kulkemalla ihmiset voivat auttaa itseään ja maailmaa.
            Sana reiki muodostuu sanoista rei, eli henki ja ki, eli elämän energia tai elämän voima.
        </p>
    </div>




</div> <!-- wrapper -->