
@{
    ViewBag.Title = "Kaukoreiki";
}



<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Etusivu</a></li>
            <li class="breadcrumb-item">Reiki</li>
            <li class="breadcrumb-item active" aria-current="page">Kaukoreiki</li>
        </ol>
    </nav>
</div>

<h2>Kaukoreiki</h2>