<!-- Tietoa tästä protosivusta-->
@{
    ViewBag.Title = "Index";
}

<div class="container" id="wrapper">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index">Etusivu</a></li>
                <li class="breadcrumb-item">Info</li>
                <li class="breadcrumb-item active" aria-current="page">Tietoa sivustosta</li>
            </ol>
        </nav>
    </div>

    <section>
        <h1 class="jumbotron" id="alku">Tietoa tästä protosivustosta</h1>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Tausta</h3>
                    <p>
                        Tämä Usui Reiki Ryoho ry:n nettisivun prototyyppi on tehty Careerian HTML5-kurssin
                        palautettavaa tehtävää varten. Tähän harjoitukseen on
                        otettu mukaan vain muutamia sivuja kokonaisuudesta.
                        Prototyypin tekijä on Sanna Ketomäki.
                    </p>
                    <p>
                        Yhdistyksen sivut on tehty alunperin vuonna 2008. Kesällä 2019 sivut on tarkoitus
                        uusia, mikä tässä yhteydessä tarkoittaa erityisesti sivuston ulkoasun nykyaikaistamista.
                        Hyväksi havaittu värimaailma ja sivuston rakenne kuitenkin säilytetään.
                    </p>
                    <p>
                        Uusiminen tuli eteen myös sen takia, että webbihotellipalvelujen tarjoaja päivitti
                        php-versionsa uuteen ja yhdistyksen sivut lakkasivat toimimasta. Saimme kuitenkin jatkoaikaa,
                        jotta voimme käyttää vanhaa php-versiota ainakin vielä vähän aikaa.
                    </p>
                    <p>
                        Tällä hetkellä yhdistyksen sivut löytyvät osoitteesta:
                        <br /><a href="http://usui-reiki-ryoho.fi/reiki/" target="_blank">www.usui-reiki-ryoho.fi</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <h3>Toteutus</h3>
                    <p>
                        Sivut on toteutettu VisualStudio 2017:n ASP.NET Web Application MVC-mallilla hyödyntäen Controllereita ja View:ta.
                        Prototyypin tekemiseen on käytetty Bootstrap 4.3.1 ominaisuuksia
                        sekä omia css-muotoiluja VisualStudiosta löytyvien muotoilujen lisäksi. Sivusto on responsiivinen.
                    </p>
                    <p>
                        Protosivusto on julkaistu Azuressa osoitteessa:
                        <br /><a href="http://urr-proto.azurewebsites.net/" target="_blank">urr-proto.azurewebsites.net/</a>.
                        <br />
                        Lähdekoodi löytyy GitHubista osoitteesta:
                        <br /><a href="https://github.com/Point-SannaKetomaki/URR-Proto" target="_blank">https://github.com/Point-SannaKetomaki/URR-Proto</a>.
                    </p>
                    <p>
                        Lopullinen sivusto pitää toteuttaa toisella tavalla, koska sivut julkaistaan <a href="https://www.louhi.fi/" target="_blank">LouhiNet:n</a>
                        webbihotellissa.
                    </p>
                    <p>
                        Lahdessa, 23.4.2019
                        Sanna Ketomäki
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>