<!-- Kurssit ja hoidot -->
@{
    ViewBag.Title = "Index";
}

<div class="container" id="wrapper">

    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index">Etusivu</a></li>
                <li class="breadcrumb-item active" aria-current="page">Reikikurssit ja hoidot</li>
            </ol>
        </nav>
    </div>

    <h2>Reikikurssit ja hoidot</h2>
</div>

